extends layout

block content
    div.row.center
        div.col-md-8.col-md-offset-2
            h1= title
    div.row#about
        div.col-md-8.col-md-offset-2
            p 
                | While working as Product Manager for Kingsoft in Beijing, China, 
                | I was entranced by the developers within my team for their ability 
                | to create beautiful, user-friendly applications. After sampling some 
                | online courses with Codecademy and Code School, I fell in love and decided 
                | to change my career path, actively pursuing web development full-time. 
                | With my ambition, perseverance, and dedication, I have become an expert 
                | in front-end development; experienced in JavaScript; and proficient with 
                | jQuery, Node.JS, Express, MongoDB, PHP, MySQL, LAMP stack, and MVC frameworks. 
            p 
                | Fully immersing myself in the Atlanta tech community, I regularly 
                | attend Meetups to learn new technologies and connect with others with 
                | similar passions. I have been able to use what I have learned to help 
                | other self-taught developers succeed and regularly lead the Atlanta group 
                | of FreeCodeCampers, an <a href="http://freecodecamp.com"> online full-stack bootcamp.</a>
            p
                | Bringing my ambition and passion for knowledge, my past professional 
                | work experience in team-oriented environments, and my adaptability 
                | gained from working abroad in international business settings, I am 
                | ready to contribute to an engineering team right away. 