extends layout

block content
    h1= title
    p Welcome to #{title}

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 Project Info
            p
                strong Title:
                |  <span id='userInfoName'></span>
                br
                strong Age:
                |  <span id='userInfoAge'></span>
                br
                strong Technologies:
                |  <span id='userInfoGender'></span>
                br
                strong Link:
                |  <span id='userInfoLocation'></span>
        // /USER INFO

        // USER LIST
        h2 Project List
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST
        
        // ADD USER
        h2 Add Project
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                button#btnAddUser Add User
        // /ADD USER


    // /WRAPPER