extends layout

block content
    h1= title
    div.grid
        div.grid-item
            img(src='https://ellensun.herokuapp.com/assets/images/quote.jpg')
        div.grid-item
            img(src='https://ellensun.herokuapp.com/assets/images/hapsit.jpg')
        div.grid-item
            img(src='https://ellensun.herokuapp.com/assets/images/hearmeout.jpg')
        div.grid-item
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg')
        div.grid-item
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg')
        div.grid-item
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg')
        div.grid-item
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg')
        div.grid-item
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg')