* { 
  box-sizing: border-box; 
}

/* force scrollbar */
html { 
  overflow-y: scroll; 
}

body {
  font-family: 'Muli', sans-serif;
  line-height: 1.6em;
  text-transform: none;
  letter-spacing: .02em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #666;
}

#headerWrapper {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 180px;
  z-index: 999;
}

a {
  text-decoration: none;
  color: #121212;
}

#header {
  padding: 0;
}

h1 {
  font-size: 26px;
  font-family: 'Muli', sans-serif;
  text-transform: none;
  font-weight: 500;
  font-style: normal;
  color: #ff6666;
}

#logo .logo.image {
  line-height: 0;
  margin: 0;
  display: block;
  width: 150px;
  max-width: 180px;
}

#logo {
  margin-bottom: 30px;
}

#topNav {
  margin-bottom: 20px;
}

.main-nav {
  overflow: hidden;
  font-size: 16px;
  margin-top: 20px;
}

.main-nav a {
  font-family: 'Muli', sans-serif;
  line-height: 1.6em;
  display: block;
  letter-spacing: 0em;
  text-transform: none;
  padding: .2em;
  color: #666;
  text-decoration: none;
}

nav {
  display: block;
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

ul {
  font-family: 'Muli', sans-serif;
  line-height: 1.6em;
  text-transform: none;
  letter-spacing: .02em;
  font-weight: 400;
  font-style: normal;
}

#secondaryNavigation.main-nav {
  font-size: 13px;
  
}

.social-links a {
  margin: 0 10px 10px 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #666;
}

#pageWrapper {
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 60em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*.grid-sizer,
.grid-item {
  width: 31%;
}*/
.grid {
  width: 103.125%;
  overflow: hidden;
  margin: auto 0;
  margin-bottom: -1.875em;
}

.grid-item {
  width: 30.303%;
  float: left;
  margin-bottom: 0 1.515% 1.875em;
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a:hover {
  color: #000000;
}

@media only screen and (min-width: 768px) {
  /* 10 columns for larger screens */
  .grid-item { 
    width: 46.876%; 
    margin-bottom: 0.938em;
  }

  #headerWrapper {
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    top: 0px;
  }

  #pageWrapper {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .social-links a {
    margin: 0 10px 10px 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #666;
  }
}

@media only screen and (max-width: 40em) {
  .grid-item {
    width: 46.876%
    margin-bottom: 0.938em;
  }
}

@media only screen and (max-width: 20em) {
  .grid {
    width: 100%;
    margin-left: 0;
  }
  .grid-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}